</div> <!-- main container -->

<div class="footerWrapper">

  <footer class="footer navbar navbar-inverse">

    <div class="container-fluid">
      <div class="footerText">
      &#169; 2016 Smugglers
      </div>

      <%= link_to "https://www.facebook.com/Smugglers-103127373371674/?ref=bookmarks", target:"_blank", class:"f" do%>
        <%= image_tag "flogo.png", class: "flogo"  %>
      <% end %>

    </div>
  </footer>
  <style>

  </style>
</div>
