
<div class="contact_map">
   <%=image_tag("contact_map.jpg", alt: "Smugglers Location")%>
</div>

<div class="contact_text">
<span id="contact_title">Smugglers</span>
  <br/>
  <br/>
  Address: Kekelidze Street 15 <br/>
  0179 Tbilisi, Georgia <br/>
  Tel: +995 577 65 45 56
</div>

<style type="text/css">

</style>
