/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/
@import "bootstrap-sprockets";
@import "bootstrap";


#nav{
  z-index: 9999;
  max-width:1080px;
  margin:auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#indexNav{
  top:51px;
  max-width:1080px;
  margin:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.maincontainer{
  width:100%;
  max-width:1080px;
  margin:0 auto;
  margin-top:110px;
  padding-left:20px;
}
@media (max-width: 768px) {
  .maincontainer{
    margin-top:170px;
  }
}

.item_wrapper{
  position: relative;
  display:inline-block;
  width:207px;
  height: 254px;
  border:3px solid #222222;
  border-radius: 10px;
  padding:0px 0px 0px 4px;
  background-color: white;
  overflow: hidden;
}
.item_wrapper:hover{
  border:3px solid #fff;
}
.thumb{
  margin:0 auto;
  display: block;
}
.display{
  font-size:1.1em;
  font-weight: bold;
  position: absolute;
  margin-top: 2px;
}
.price{
  font-size:1.1em;
  font-weight: bold;
  position: absolute;
  top:5px;
  left:5px;
  padding:0px 4px 0px 4px;
  color:black;
  background-color:#ddd;
}
.age{
  font-size:1.1em;
  font-weight: bold;
  position: absolute;
  top:5px;
  left:150px;
  padding:0px 4px 0px 4px;
  color:black;
  background-color:#ddd;
}



.pg{
  text-align: center;
}
.pagination{
  display:inline-block;
}
