/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "*";

html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
 }

$mainYellow: #eeee66;

html {
  position: relative;
  min-height: 100%;
}

.discountContainer {
  padding:0px 12px 0px 12px;
  #discount_bg{
    background-color: #222222;
    border-radius: 10px 10px 10px 10px;
  }
  h1{
    width:155px;
    margin:0 auto;
    padding:0px 10px 0px 10px;

    font-family: 'Carnevalee-Freakshow';
    color: #eeee00;
  }
}

.footerWrapper{
  position:absolute;
  bottom:0;
  width:100%;
}
.footer {
  margin:0 auto;
  max-width:1080px;
  border-radius: 0px 0px 10px 10px;
  margin-top: auto;
  font-size: 1.3em;
  color:#777;
  padding:5px;
}
.f{
  float:right;
}
.footerText{
  float:left;
  padding-top: 8px;
}



@font-face {
    font-family: "Carnevalee-Freakshow";
    src: font-url('Carnevalee-Freakshow.ttf') format('truetype');
}
#indexNav .form-group .form-control{
  float:left;
  max-width:220px;
  margin-right:5px;
}
#indexNav .btn{
  padding-right:1px;
  padding-left:1px;
}
#nav{
  z-index: 9999;
  max-width:1080px;
  margin:auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#indexNav{
  top:51px;
  max-width:1080px;
  margin:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .btn-primary{
    background-color:rgba(255,255,119,1);
    color:#222;
  }
  .select_category{
    max-width: 273px;
    margin-bottom:4px;
  }
}
.navbar-inverse .navbar-brand{
  font-family: 'Carnevalee-Freakshow';
  font-size:3em;
  padding: 12px;
  color:#eeee00;
}
.mainContainer{
  width:100%;
  max-width:1080px;
  margin:0 auto;
  margin-top:51px;
}
.indexContainer{
  margin-top:110px;
  padding:0px 12px 0px 12px;
}
@media (max-width: 768px) {
  .indexContainer{
    margin-top:210px;
  }

}

/* BEGIN show action style BEGIN */
  .show_content{
    p:hover, a:hover{
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    }
  }
  .show_image_block{
    float:right;
    width:60%;
  }
  .product_title{
    margin:10px;
    position:absolute;
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgba(255,255,119,0.7);
  }
  .show_image{
    width:100%;
    display:inline;
  }
  .show_content{
    float:left;
    padding: 10px;
  }
  .show_content span{
    font-weight: bold;
  }
  .show_content p{
    background-color: rgba(255,255,119,0.7);
  }
  .show_content .description{
    max-width:270px;
    margin:0 auto;
  }
  .backBut{
    width:100%;
  }
  @media (max-width: 768px) {
    .show_image_block{
      width:100%;
      }
    .show_content{
      text-align: center;
      width: 100%;
    }
  }
/* END show action style END */

.panel-group a{
  outline: 0;
  color:black;
  text-decoration:none;
  &:hover{
    background-color:white;
  }
  &:visited{
    color:red;
  }
  h4{
    font-size:1.3em;
    font-weight:bold;
  }
}

#contact_title{
  font-size: 1.5em;
  font-weight:bold;
  background-color:$mainYellow;
  padding:1px;
}
.contact_text{
  padding: 20px;
  font-size: 1.1em;
}
.contact_map{
  width:50%;
  float:right;
  border:1px solid #222;
}
.contact_map img {
  width:100%;
}

@media (max-width: 768px) {
  .contact_map{
    width:100%;
    border-bottom:5px solid #222;
  }
  #contact_title{
    float:right;
  }
}



.item_wrapper{
  position: relative;
  display:inline-block;
  width:207px;
  border:3px solid #222222;
  border-radius: 10px;
  padding:0px 0px 0px 4px;
  background-color: #fff;
  overflow: hidden;
}
.item_wrapper:hover{
  -webkit-box-shadow: 5px 5px 10px 0px #555;
  -moz-box-shadow: 5px 5px 10px 0px #555;
  box-shadow: 5px 5px 10px 0px #555;
}
.thumb{
  margin:0 auto;
  display: block;
}

.display{
  font-size:1.1em;
  font-weight: bold;
  position: absolute;
  bottom:4px;
  width:96%;
  height: 38px;
  overflow: hidden;
  color:#222;
  border-radius: 2px;
  border:1px solid black;
  background-color: rgba(255,255,119,0.8);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.price, .new_price{
  font-size:1.1em;
  font-weight: bold;
  position: absolute;
  top:5px;
  left:5px;
  padding:0px 4px 0px 4px;
  color:#222;
  background-color:rgba(255,255,119,0.9);
  z-index:10;
}
.old_price{
  text-decoration: line-through;
}
.new_price{
  width:75px;
  left:120px;
  margin-right:2px;
  color:#e22;
  background-color:rgba(255,255,119,0.9);
}

@media (max-width: 30em) {
  .item_wrapper{
    width:100%;
    .thumb{
      width:100%;
    }
  }
  .new_price{
    top:35px;
    left:5px;
  }
}

.age{
  font-size:1.1em;
  font-weight: bold;
  position: absolute;
  top:5px;
  right:10px;
  padding:0px 4px 0px 4px;
  color:black;
  background-color:rgba(255,255,119,0.9);
}



.pg{
  text-align: center;
}
.pagination{
  li a{
    border:1px solid #222;
    color:#222;
  }
  .active a {
    border:1px solid #222;
    background-color:rgba(255,255,119,1);
    color:#222;
  }
  li a:hover{
    border:1px solid rgba(255,255,119,1);
    background-color:rgba(255,255,119,1);
    color:#222;
    -webkit-box-shadow: 5px 5px 10px 0px #555;
    -moz-box-shadow: 5px 5px 10px 0px #555;
    box-shadow: 0px 6px 6px 0px #555;
  }
  .active a:hover{
    border:1px solid rgba(255,255,119,1);
    background-color:rgba(255,255,119,1);
    color:#222;
  }
}
